table,
td,
th,
td {
	border: 1px solid black;
	border-collapse: collapse;
	margin: 10px;
	padding: 10px;
	text-align: center;
	justify-content: center;
	animation: flip 2s infinite;
}
thead {
	color: red;
}

table {
	animation: spin 15s linear infinite;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@keyframes flip {
	from {
		transform: rotateY(-180deg);
		opacity: 0.7;
	}
	to {
		transform: rotateY(0deg);
		opacity: 1;
	}
}